In [1]:
import pandas as pd 
import json 
df = pd.read_json("data/datasets/BFCL_v4_live_multiple.json", lines=True)
answers = pd.read_json("data/datasets/possible_answer/BFCL_v4_live_multiple.json", lines=True)
def change_gt_name(tools: list[dict]):
    for d in tools:
        old_key = next(iter(d))  # get the first (and only) key as a string
        value = d.pop(old_key)   # safely remove the old key
        new_key = old_key.replace(".", "_")
        d[new_key] = value
    return tools


def change_function_name(tools: list[dict]): 
    for d in tools: 
        d['name'] = d['name'].replace('.', '_')
    return tools 

df['ground_truth'] = answers['ground_truth'].apply(change_gt_name)
df['function'] = df['function'].apply(change_function_name)

def merge_list(l: list[dict]): 
    merged = []
    for d in l: 
        if d in merged:
            continue 
        merged.append(d)
    return merged 

tools = df['function'].apply(merge_list).sum()

tool_df = pd.DataFrame(tools)
tool_df.head()

ModuleNotFoundError: No module named 'pandas'

In [84]:
df = pd.read_json("data/datasets/BFCL_v4_live_multiple.json", lines=True)
answers = pd.read_json("data/datasets/possible_answer/BFCL_v4_live_multiple.json", lines=True)

In [85]:
def change_gt_name(tools: list[dict]):
    for d in tools:
        old_key = next(iter(d))  # get the first (and only) key as a string
        value = d.pop(old_key)   # safely remove the old key
        new_key = old_key.replace(".", "_")
        d[new_key] = value
    return tools


def change_function_name(tools: list[dict]): 
    for d in tools: 
        d['name'] = d['name'].replace('.', '_')
    return tools

In [86]:
df['ground_truth'] = answers['ground_truth'].apply(change_gt_name)
df['function'] = df['function'].apply(change_function_name)

In [89]:
def merge_list(l: list[dict]): 
    merged = []
    for d in l: 
        if d in merged:
            continue 
        merged.append(d)
    return merged

In [90]:
tools = df['function'].apply(merge_list).sum()

In [91]:
tool_df = pd.DataFrame(tools)
tool_df.head()

,name,description,parameters
0,ChaFod,Changes the food item based on the customer's ...,"{'type': 'dict', 'required': ['foodItem'], 'pr..."
1,ChaDri_change_drink,Modifies the existing drink order to accommoda...,"{'type': 'dict', 'required': ['new_preferences..."
2,ChaFod,Changes the food item based on the customer's ...,"{'type': 'dict', 'required': ['foodItem'], 'pr..."
3,ChaDri_change_drink,Modifies the existing drink order to accommoda...,"{'type': 'dict', 'required': ['drink_id', 'new..."
4,uber_ride,Tìm chuyến đi phù hợp cho khách hàng dựa trên ...,"{'type': 'dict', 'required': ['loc', 'type', '..."

In [92]:
tool_df['name'].value_counts()

name
Music_3_PlayMedia           133
Music_3_LookupMusic         133
Events_3_FindEvents         129
Events_3_BuyEventTickets    129
Travel_1_FindAttractions     96
                           ...
calendar_event_edit           1
calendar_event_create         1
calendar_event_delete         1
calendar_event_query          1
open_times_query              1
Name: count, Length: 455, dtype: int64

In [93]:
tool_df.to_pickle("data/tool_dataframe.pkl")
df.to_pickle("data/multiple_tools.pkl")

In [95]:
df

,id,question,function,ground_truth
0,live_multiple_0-0-0,"[[{'role': 'user', 'content': 'update my latte...","[{'name': 'ChaFod', 'description': 'Changes th...",[{'ChaDri_change_drink': {'drink_id': ['latte'...
1,live_multiple_1-0-1,"[[{'role': 'system', 'content': 'You are an ag...","[{'name': 'ChaFod', 'description': 'Changes th...",[{'ChaDri_change_drink': {'drink_id': ['1234']...
2,live_multiple_2-1-0,"[[{'role': 'user', 'content': 'Tôi cần một chu...","[{'name': 'uber_ride', 'description': 'Tìm chu...","[{'uber_ride': {'loc': ['2150 Shattuck Ave, Be..."
3,live_multiple_3-2-0,"[[{'role': 'user', 'content': 'Get weather of ...","[{'name': 'uber_ride', 'description': 'Finds a...","[{'api_weather': {'loc': ['Ha Noi, Vietnam']}}]"
4,live_multiple_4-2-1,"[[{'role': 'user', 'content': 'Tìm chuyến xe c...","[{'name': 'uber_ride', 'description': 'Finds a...","[{'uber_ride': {'loc': ['123 Hanoi Street'], '..."
...,...,...,...,...
1048,live_multiple_1048-275-0,"[[{'role': 'user', 'content': 'I need to find ...","[{'name': 'Hotels_2_BookHouse', 'description':...",[{'Hotels_2_SearchHouse': {'where_to': ['Paris...
1049,live_multiple_1049-276-0,"[[{'role': 'user', 'content': 'Can you find me...","[{'name': 'Events_3_FindEvents', 'description'...","[{'Trains_1_FindTrains': {'_from': ['Anaheim, ..."
1050,live_multiple_1050-277-0,"[[{'role': 'user', 'content': 'Can you tell me...","[{'name': 'RideSharing_2_GetRide', 'descriptio...",[{'Weather_1_GetWeather': {'city': ['Atlanta']...
1051,live_multiple_1051-278-0,"[[{'role': 'user', 'content': 'I need to wake ...","[{'name': 'set_alarm', 'description': 'Set an ...",[{'set_alarm': {'alarm_time': ['2023-12-01 07:...
1052,live_multiple_1052-279-0,"[[{'role': 'user', 'content': 'I want to liste...","[{'name': 'set_volume', 'description': 'Set th...",[{'set_volume': {'volume': [50]}}]